body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
    color: #5e0041;
}

form {
    width: 60%;
    margin: 0 auto;
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #5e0041;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #450030;
}

.rating, .checkbox-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.rating label, .checkbox-group label {
    display: inline-block;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 20px;
}