/* temples-large.css - For larger screens */
.hamburger {
    display: none;
}

.nav-menu {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end; /* Justify the menu to the right */
    align-items: center;
    width: 100%; /* Ensure the nav-menu takes the full width */
    padding: 0 2rem; /* Add padding to the left and right */
    gap: 2rem; /* Add gap between the menu items */
}

.nav-menu li {
    text-align: center; /* Center the text in each list item */
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

.gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

figure {
    margin: 0;
    padding: 0.5rem;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

figcaption {
    font-size: 1rem;
    color: #4B0082;
    margin-top: 0.5rem;
}
